/* Base Styles */

* {
	box-sizing: border-box;
}

h1 {
	font-family: Georgia,serif;
	color: black;
}

body {
	background-image: url("background.jpg");
	background-color: #FFFFFF;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

p {
	padding: 10px;
	margin: 0;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

section {
	border:	1px black;
	background-color: white;
	width: 100%;
	height: auto;
	font-family: Arial, sans-serif;
	color: black;
	position: relative;
	overflow: auto;
}

#chicken {
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: white;
	color: black;
}

#beef {
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: white;
	color: black;
}

#sushi {
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	background-color: white;
	padding: 5px;
	color: black;
}

#chicken-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#beef-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#sushi-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: white;
}

#header-nav {
  border: 1px black;
  font-family: Georgia,serif;
  background-color: #D67113;
  color: white;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-header {
  background-color: #D67113;
}

.nav-brand {
  color: white;
  font-size: 1.5em;
}

#nav-list {
  color: white;
}

hr {
  border-color: white;
}

.item {
  color: white;
  font-size: 1.2em;
}